<!DOCTYPE html>
<html>
<head>
    <title>Frimar</title>
    {% block styles %}
        <link href="{{ base_url() }}/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="container">
    {% block page_header %} {% endblock %}
    {% block body %} {% endblock %}
</div>
{% block scripts %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="{{ base_url() }}/assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>